.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
社团管理项目/第8组_1751551_黄颖_济社——学生社团信息系统/program/communityVue/
社团管理项目/第8组_1751551_黄颖_济社——学生社团信息系统/program/ClubManager/
*.json
package-lock.json
package.json
